/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env copy
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/jinn-education-firebase-adminsdk-332lg-e4a0d2c460.json
CHECKOUT_DEVELOPMENT_PLAN.md
plan/m.md
