main form div:has(input[required]) > label::after,
main form div:has(select[required]) > label::after,
main form div:has(textarea[required]) > label::after {
  content: " *";
  color: rgb(239 68 68 / 0.85); 
  margin-inline-start: 0.25rem;
  font-weight: 500;
}